.form div{
    margin-bottom: 25px;
    height: 25px;
}

.form label{
    margin-right: 10px;
}

.form input{
    border: 1px solid rgb(170, 170, 170);
    height: 100%;
}

.form input:focus{
    outline: 1px solid rgb(0, 174, 180);
}