.wrapper {
    width: 80%;

}

.bar {
    width: 100%;
    height: 0.3rem;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: rgb(205, 205, 205);
    width: 100%;
    height: 0.3rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(64, 207, 186);
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    position: relative;
}

.meterBar {
    width: 100%;
    /* -webkit-appearance: none;
    background-color: rgb(64, 207, 186); */
    position: relative;
    top: -21px;
    height: 0.75rem;
    /* display: block; */
    pointer-events: none;
}

meter::-webkit-meter-bar {
    background: none;
    background-color: transparent;
    box-shadow: 0 5px 5px -5px #333 inset;
    box-shadow: 0px 0px 0px 0px transparent;
    outline: none;
    border: none;
}

meter::-webkit-meter-optimum-value {
    background-image: linear-gradient(0deg,
            rgb(64, 207, 186) 100%,
            transparent 100%);
    background-size: 100% 100%;
}

.slots {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
    pointer-events: none;
    top: -33px;
}

.slots li {
    cursor: pointer;
    background-color: rgb(205, 205, 205);
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.activeSlot {
    background-color: rgb(64, 207, 186) !important;
}

.steps {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 15px;
    flex-wrap: wrap;
}

.steps li {
    cursor: pointer;
    background-color: rgb(219, 217, 217);
    border-radius: 30px;
    padding: 0px 7px 2px 6px;
    color: rgb(101, 101, 101);
}

.steps li:hover {
    background-color: rgb(58, 182, 164);
    color: white;
}