.switch {
  position: relative;
  display: inline-block;
  width: 205px;
  height: 54px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 46px;
  width: 96px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 23px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
}

.textActive{
  color: rgb(0, 0, 0) !important;
}

.text{
  z-index: 1000;
  position: absolute;
  font-weight: bold;
  color: rgb(123, 123, 123);
  cursor: pointer;
}

.textLeft {
  left: 35px;
  top: 14px;
 
}

.textRight {
  right: 35px;
  top: 14px;
}
