@use '/src/styles/constants/colors';

.switch {
  position: relative;
  display: inline-block;
  width: 205px;
  height: 54px;

  input {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-color: colors.$GRAYA;
  border-radius: 34px;
  transition: 0.2s;

  &::before {
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 96px;
    height: 46px;
    content: '';
    background-color: colors.$WHITE;
    border-radius: 23px;
    transition: 0.2s;
  }
}

input:checked + .slider::before {
  transform: translateX(100px);
  transform: translateX(100px);
  transform: translateX(100px);
}

.textActive {
  color: rgb(0, 0, 0) !important;
}

.text {
  position: absolute;
  z-index: 1000;
  font-weight: bold;
  color: colors.$GRAYE;
  cursor: pointer;
}

.textLeft {
  top: 20px;
  left: 35px;
}

.textRight {
  top: 20px;
  right: 35px;
}
